@use "config/variables" as var;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var.$primary-font;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[class$="__contenedor"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.section {
  padding: 2rem 0;
}
