// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;

// Fuentes 
$primary-font: 'Lexend', sans-serif;

// Colores 
$primary-color: #e8505b;
$secondary-color: rgb(189, 30, 89); 
$black: #111;
$white: #FFFFFF;
$gray: #686868;
$lighGray: #e1e1e1;

// Utiles 
$spac: 5rem; 